/*---------------------------------*\
               ARTICLE
\*---------------------------------*/
.article {

}

.article__title a {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.post .article__title{
	-ms-word-wrap: break-word;
	word-wrap: break-word;

	@include media-query(lap-and-up){
		margin-top: 42px;
		margin-bottom: 36px;
	}
}

.article__content {

}

.article__meta {

}

.page .article__header {
	position: relative;
//	padding: 200px 0;
	background: #333;
	overflow: hidden;
	@include transform(translate3d(0, 0, 0));

	@include media-query(palm){
		padding: 0 $_u2;
	}

	.flexbox {
		position: relative;
		height: 100%;
		z-index: 10;
	}

	.flexbox__item {
		text-align: center;
	}

	&.full-height       { height: 105%; }
	&.half-height       { height:  50%; }
	&.two-thirds-height { height:  66%; }

	&.header--slideshow{
		padding: 0;
	}

	#gmap {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
	}
}


.article__parallax {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	@include transform(translate3d(0, 0, 0));

	img {
		opacity: 0;
	}

	.rsOverflow, #gmap {
		img {
			opacity: 1;
		}
	}
}

.article__parallax--img {

	img {
		position: absolute;
		top: 50%; left: 50%;
		opacity: 0;
		max-width: none;
		@include transform(translate3d(-50%, -50%, 0));
	}
}


.page .article__content {
	position: relative;
	width: 100%;
	padding: 50px 0;
	background-color: white;
}

.down-arrow {

	&:before {
		content: "";
		position: absolute;
		left: 50%;
		bottom: 84px;
		margin-left: -1 * $_u2;
		z-index: 20;

		height: $_u;
		width: $_u;

		border-right: 3px solid white;
		border-bottom: 3px solid white;

		@include transform(rotate(45deg));
	}
}
