/*---------------------------------*\
               ARTICLE
\*---------------------------------*/
.article {

}

.article__title a {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.post .article__title{
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.article__content {

}

.article__meta {

}

.page .article__header {
	position: relative;
//	padding: 200px 0;
	background: #333;
	overflow: hidden;
	@include transform(translate3d(0, 0, 0));

	.flexbox {
		height: 100%;
	}

	.flexbox__item {
		text-align: center;
	}

	&.full-height       { height: 105%; }
	&.half-height       { height:  50%; }
	&.two-thirds-height { height:  66%; }

	&.header--slideshow{
		padding: 0;
	}

	#gmap {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
	}
}


.article__parallax {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	@include transform(translate3d(0, 0, 0));
}

.article__parallax--img {

	img {
		position: absolute;
		top: 50%; left: 50%;
		opacity: 0;
		max-width: none;
		@include transform(translate3d(-50%, -50%, 0));
	}
}


.page .article__content {
	position: relative;
	width: 100%;
	padding: 50px 0;
	background-color: white;
}

.pixcode--grid {
	margin-left: -48px;

	.grid__item {
		padding-left: 48px;
	}
}

.down-arrow {

	&:before {
		content: "";
		position: absolute;
		left: 50%;
		bottom: $_2u;
		margin-left: -1 * $_u2;
		z-index: 20;

		height: $_u;
		width: $_u;

		border-right: 3px solid white;
		border-bottom: 3px solid white;

		@include transform(rotate(45deg));
	}
}

/*------------------------------------*\
    $ARTICLE HEADLINE
\*------------------------------------*/

.article__headline {
	position: relative;

	display: inline-block;
	margin-bottom: 0;

	text-align: center;

	.separator {
		margin: $_u 0;
	}

	.article__header & {

		.headline__primary, .headline__description {
			color: white;
		}
	}
}

.headline__primary {
	margin: 0;

	letter-spacing: 0.174em;
}

.headline__secondary {
	margin: 0;
	margin-bottom: -43px;

	font-family: $alt-font-family;
	font-size: 100px;
	font-weight: normal;
	letter-spacing: 0;
	text-transform: none;

	color: $accent;

	&::first-letter {
		font-size: 122px;
		margin-top: 10px;
	}
}

.headline__description {
	font-size: 15px;
	letter-spacing: 0.348em;
	text-transform: uppercase;
}
