$bully-transition-duration: .2s;

.c-bully {
	position: fixed;
	top: 50%;
	right: 2rem;
	font-size: 12px;
	transform: translate3d(0, -50%, 0);
	z-index: 9000;

	&--inversed {
		color: white;
	}
}

.c-bully__bullet {
	padding: 0.5em;

	cursor: pointer;

	&:after {
		content: "";

		display: block;
		width: 1em;
		height: 1em;

		border: 2px solid currentColor;
		border-radius: 50%;

		will-change: transform;
	}

	&--active {
		position: absolute;
		top: 0;
		left: 0;

		transition: top $bully-transition-duration ease-in-out;

		&:after {
			background: currentColor;
		}
	}

	&--squash:after {
		animation: bully-squash $bully-transition-duration ease-out forwards;
	}
}

@keyframes bully-squash {
	50% {
		transform: scale(0.6, 2);
	}

	100% {
		//border-radius: 50%;
		transform: scale(1);
	}
}
