$bully-transition-duration: .2s;

.c-bully {
	position: fixed;
	top: 50%;
	right: 48px;
	font-size: 12px;
	transform: translate(0, -50%);
	z-index: 9000;
	color: #000;

	&--inversed {
		color: #FFF;
	}
}

.c-bully__bullet {
	padding: 0.5em;
	opacity: 0;

	cursor: pointer;

	&:after {
		content: "";

		display: block;
		width: 1em;
		height: 1em;

		border: 2px solid currentColor;
		border-radius: 50%;

		will-change: transform;
	}

	&--active {
		position: absolute;
		top: 0;
		left: 0;

		transition: top $bully-transition-duration bezier(easeQuadOut);

		&:before {
			content: "";
			width: 1em;
			height: 1em;
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 14px;
			transform: translate(-50%, -50%);
			background: currentColor;
			border-radius: 50%;
		}

		&:after {
			border-color: transparent;
		}
	}

	&--squash {
		animation: bully-squash $bully-transition-duration ease-out forwards;
	}
}

@keyframes bully-squash {
	50% {
		transform: scale(0.6, 2);
	}

	100% {
		//border-radius: 50%;
		transform: scale(1);
	}
}
