/*------------------------------------*\
    $GOOGLE MAPS
\*------------------------------------*/

.map__marker {
	position: relative;
	bottom: 100%;
	left: -50%;
	top: -12px;
	background: black;
	color: white;
	padding: $_u $_2u;
	border-radius: $_u4 / 2;

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 100%;
		left: 50%;
		border: $_u2 solid transparent;
		border-top-color: black;
		margin-left: - $_u2;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: $_u4 0;
		color: white;
	}

	img{
		max-width: none;
	}
}

.map__marker-wrap {
	position: absolute;
	bottom: 0; left: 0;
}