/*------------------------------------*\
    $GOOGLE MAPS
\*------------------------------------*/

.gmap img {
	max-width: none;
}

.map-tooltip {
	position: absolute;
	bottom: 0;
    left: 0;
}

.map-tooltip__content {
	position: relative;
	bottom: 100%;
	left: -50%;
	top: -12px;

	padding: $_u $_2u;

	background: black;
	color: white;
	border-radius: $_u4 / 2;

	&:after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;

		display: block;
		margin-left: - $_u2;
		border: $_u2 solid transparent;
		border-top-color: black;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: $_u4 0;
		color: inherit;
	}
}

/* Multiple Pins */
.map-pin {
	position: relative;
	top: rem(-55px);
	left: rem(-23px);
}

.map-pin__text {
	min-width: 0;

	padding: rem(14px) rem(16px);
	padding-left: rem(56px);
	border-radius: 40px;

	font-size: rem(13px);
	line-height: 1;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .2em;

	color: $dark;
	background-color: white;

	transition: all .15s;

	&:hover {
		color: $accent;
	}

	@include media-query(palm) {
		font-size: rem(11px);
		padding: rem(12px) rem(12px) rem(12px) rem(54px);
	}
}

.map-pin img {
	position: absolute;
	top: rem(2px);
	left: rem(1px);

	width: rem(42px);
}