.input-group{
	position: relative;

	height: 36px;
	width: 100%;
	margin: 0 auto $_u4 auto;

	input.form-control{
		position: absolute;
		top: 0;
		left: 0;

		padding-right: $_u2 + 36px;
		height: 40px !important;

		@include font-size(14px);

		color: $dark;
		background: #eeeeee;

		outline: none !important;

		@include border-radius(0);

		@include placeholder{
			@include font-size(14px);
			color: #b3b3b3;
			text-transform: none;
		}

		.lteie9 &{
			line-height: 1;
			padding-top: 10px;
		}
	}

	button.submit{
		position: absolute;
		right: 0;
		top: 0;

		width: 40px;
		height: 40px;

		border: 0;

		background: none;
	}
}

small.muted{
	@include font-size(13px);
}