/*------------------------------------*\
    $MENU LISTS / ROSAs
\*------------------------------------*/

.menu-list {

	hr {
		margin: $_15u 0;
	}

	span.dots{
		position: absolute;
		bottom: 5px;
		left: 0;
		right: 0;
		z-index: 1;

		margin: 0;

		border: 0;
		height: 3px;
		display: block;

		background-image: radial-gradient(circle closest-side, $lightest 99%, transparent 1%);
		background-position: bottom;
		background-size: 6px 3px;
		background-repeat: repeat-x;
	}
}

.menu-list__title {
	text-align: left;
}

.menu-list__items {
	@extend .nav;
	@extend .nav--stacked;
}

.menu-list__item {
	position: relative;
	margin-bottom: 30px;

	&:last-child{
		margin-bottom: 0;
	}
}

.menu-list__item-title {
	position: relative;

	margin-top: 0;
	margin-bottom: 0;
	padding-right: $_4u;

	background-color: white;
	text-align: left;
	
	.item_title{
		position: relative;
		z-index: 5;

		background-color: white;
	}
}

p.menu-list__item-desc {
	position: relative;

	margin-bottom: 0;
	text-align: left;
	
	& + span.dots{
		display: none;
	}
}

.desc__content{
	position: relative;
	z-index: 5;

	background-color: white;
}

.menu-list__item-price {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	max-width: $_4u;

	background-color: white;

	@include font-size(19px);
	font-weight: bold;
}

.menu-list__item-highlight-title{
	position: absolute;
	top: -38px;
	left: -18px;
	padding: 0 18px;


	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.250em;

	color: white;
	background-color: $accent;
}

.menu-list__item-highlight-wrapper {

	margin-top: 54px;
	margin-bottom: 38px;

	&:before {
		content: '';
		position: absolute;
		top: -18px;
		left: -18px;
		right: -18px;
		bottom: -18px;

		border: 2px solid $accent;
	}
}

.article__content {
	overflow: hidden;
}