/*------------------------------------*\
    $MENU LISTS / ROSAs
\*------------------------------------*/

.menu-list {

}

.menu-list__title {
	text-align: left;
}

.menu-list__items {
	@extend .nav;
	@extend .nav--stacked;

	&:last-child{
		margin-bottom: 0;
	}
}

.menu-list__item {
	position: relative;
	margin-bottom: 30px;

	&:last-child{
		margin-bottom: 0;
	}
}

.menu-list__item-title {
	margin-bottom: 0;
	text-align: left;
}

p.menu-list__item-desc {
	position: relative;

	margin-bottom: 0;
	text-align: left;
}

.menu-list__item-price {
	position: absolute;
	top: 0;
	right: 0;

	@include font-size(19px);
	font-weight: bold;
}