/*------------------------------------*\
               NAVIGATION
\*------------------------------------*/

@include media-query(lap-and-up) {
    .navigation--main{
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;

        @include transition(all .2s bezier(easeOutQuint));

        &.no-menu{
            border-bottom: 0;
        }
    }

    .nav--main a{
        font-weight: 600;
    }
}

.nav--main{
    @extend .nav;
    @extend .nav--banner;
    
    margin-bottom: 0;
    font-size: initial;
    line-height: 1;

    a{
        @extend .link--dark;

        padding: 21px $_u4;
        @include font-size(14px);
        text-transform: uppercase;

    }
}

$nav-width: 200px;

// Mobile navigation
@include media-query(palm) {
    .navigation--main{        
        position: fixed;
        left: -$nav-width;
        top: 0;
        bottom: 0;

        overflow-y: scroll;

        width: $nav-width;
        padding: $_u4 $_u2;

        border: 0;

        text-align: left;
        text-transform: none;

        background: $dark;

        .nav--main li{
            display: list-item;
            padding: 0;
            
            border-bottom: 1px solid #41403d;

            &:last-child{
                border-bottom: 0;
            }

            &.menu-item-has-children > a{
                border-bottom: 1px solid #41403d;
            }

            text-align: left;

            a{
                padding: $_u2 0;
                display: block;

                @include font-size(18px);
                text-transform: none;

                color: #cccccc;

                &:before{
                    content: none;
                }
            }

            &.menu-item-has-children{
                > a{
                    position: relative;
                }

                > a:after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 5px;

                    width: 10px;
                    height: 10px;

                    border-right: 1px solid #cccccc;
                    border-bottom: 1px solid #cccccc;

                    @include transform(translateY(-50%) rotate(45deg));
                }
            }            
        }

        .sub-menu{
            border: 0;
            padding-left: $_u2;
            background: transparent;
        }

        .sub-menu .sub-menu{
            border: 0;
        }
    }

    #page{
        @include transition(all .3s cubic-bezier(0.86, 0, 0.07, 1));
    }

    .navigation--is-visible{
        #page{
            position: fixed;
            @include transform(translateX($nav-width));
        }

        &.is--winmob, &.is--ancient-android{

            #page{
                @include transform(translateX(0)); 
                left: $nav-width;  
            }

            .navigation--main{
                left: 0;
            }
        }
    }
}






/*----------------------------------------*\
    $SUBMENUS
\*----------------------------------------*/

/*ul*/.sub-menu {
    @extend .nav;
    @extend .nav--stacked;

    top: 100%;
    left: 0;
    z-index: 10;

    padding-top: 0;
    margin-bottom: 0;

    border: 1px solid $border;

    background: white;
    white-space: normal;

    @include media-query(palm) {
        @include rem(padding-left, $_u);
    }

    @include media-query(lap-and-up) {
        position: absolute;
        left: 50%;

        white-space:nowrap;
        min-width:175px;

        background-clip: padding-box;        
        @include opacity(0);
        @include transition(opacity 0.1s ease-out);
        @include transform(translateX(-50%));

        .open > &{
            @include opacity(1);
        }

        .hidden > &{
            display: none;
        }

        a {
            padding-top: 9px;
            padding-bottom: 9px;

            &:hover {
                color:#fff !important;
                background:$dark;
            }
        }
    }


    > li {
        position: relative;

        @include media-query(lap-and-up) {
            + li > a {
                border-top: 1px solid $border;
            }
        }

    }

    .sub-menu {
        top: 0; 
        left: 100%;

        margin-top: -1px;

        border-top: 1px solid $border;
        
        @include translateX(0);

        &:before, &:after {
            display:none;
        }
    }

    @include media-query(lap-and-up) {
        //Top Arrow (modified .btn--speech)
        &:before, &:after {
            content: "";
            position: absolute;
            bottom:100%;
            left: 50%;
            @include translateX(-50%);
            border-collapse: separate;
        }
        &:after {
            width: 0;
            height: 0;

            border-width: 0 9px 9px 9px;;
            border-style: solid;
            border-color: transparent transparent #fff transparent;
        }

        &:before {
            border-width: 0 10px 10px 10px;
            border-style: solid;
            border-color: transparent transparent #a9a9a9 transparent;
        }
    }

    .menu-item-has-children{
        > a:before{
            left: 5px;
        }
    }    

}

.menu-item-has-children{
    position: relative;

    &:hover{
        > a{
            color: $accent;
        }
    }    

    > a:before{
        margin-right:$_u4;
    }
}

.navigation--main .menu-item-has-children{
    position: relative;

    > a:before{
        content: "+";
    }
}