/*------------------------------------*\
               NAVIGATION
\*------------------------------------*/
.navigation--main {
	float: right;
}

/**
 * Main Bar Navigation
 */
.nav--main {
	@extend .cf;

	margin-bottom: 0;

	> li {
		float: left;

		> a {
			@include rem(padding, $_u2 $_u);
			text-transform: uppercase;
		}

		//      &.current-menu-item {
		//          background-color:rgba(255,255,255,0.05);
		//      }
	}

	a {
		color: white;
		@include font-size(14px);

		&:hover {
			color: $accent;
		}

		.header--inversed & {
			color: black;
		}
	}
}

.nav__item--relative {
	position: relative;
}

.menu-item-has-children {
	position: relative;

	&:hover:after {
		border-color: $accent;
	}

	&:after {
		content: "";

		position: absolute;
		top: 50%;
		right: $_u4;

		margin-top: -2px;
		display: inline-block;

		width: 5px;
		height: 5px;

		border-right: 1px solid $dark;
		border-bottom: 1px solid $dark;

		@include transform(translateY(-50%) rotate(45deg));
	}

	&:hover > .sub-menu {
		display: block;
	}
}

/*----------------------------------------*\
    $SUBMENUS
\*----------------------------------------*/

/*ul*/
.sub-menu {
	@extend .nav;
	@extend .nav--stacked;

	position: absolute;
	top: 100%;
	left: 50%;

	display: none;
	min-width: 170px;

	text-align: center;

	background: white;

	@include transform(translateX(-50%));

	a {
		padding: $_u2;
	}

	.menu-item-has-children {
		position: relative;

		&:after {
			right: $_u;

			@include transform(rotate(-45deg));
		}
	}

	.sub-menu {
		left: 100%;
		top: 0;

		@include transform(translateX(0));
	}
}
