//<div class="pix-dropdown  up">
//	<a class="dropdown__trigger" href="#">Filter  <span class="arrow"></span></a>
//	<ul class="dropdown__menu  nav  nav--banner">
//		<li><a href="#">Animals</a></li>
//		<li><a href="#">Design</a></li>
//		<li><a href="#">Landscape</a></li>
//	</ul>
//</div>

.pix-dropdown {

//	@include media-query(palm) {
//		.dropdown__trigger {
//			display: none;
//		}
//	}

//	@include media-query(lap-and-up) {

		position: relative;
		text-align: center;

		&.active {
			.dropdown__menu {
				border: 1px solid $borders;
				border-top: 0;

				@include border-bottom-left-radius(5px);
				@include border-bottom-right-radius(5px);

			}

			.dropdown__trigger {
				border-bottom: 1px solid transparent;

				@include border-bottom-left-radius(0);
				@include border-bottom-right-radius(0);
			}
		}

		.dropdown__trigger {
			display: block;
			padding: $_u4 $_15u;

			border: 1px solid $borders;
			background: none;
			@include border-radius(5px);

			color: $dark;

			@include font-size(12px);
			font-weight: bold;
			letter-spacing: 0.2em;
			text-transform: uppercase;

			&:after {
				content: "";

				position: relative;
				top: -3px;

				display: inline-block;
				margin-left: 15px;
				width: 7px;
				height: 7px;

				border-right: 2px solid $dark;
				border-bottom: 2px solid $dark;

				@include transform(rotate(45deg));
			}
		}

		.dropdown__menu {
			position: absolute;
			left: 0;
			top: 100%;

			width: 100%;
			display: none;
			padding: $_u2 0;

			// categories dropdown needs background
			.page-content & {
				background: white;
			}

			&:before{
				content: "";

				position: absolute;
				top: 2px;
				left: 10%;
				right: 10%;

				border-bottom: 1px solid $borders;
			}

			li {
				width: 100%;

				a {
					padding: $_u4 0;
					display: block;
				}
			}
		}

		&.up {
			.dropdown__menu {
				bottom: 100%;
				top: auto;
			}
		}

		&.active .dropdown__menu {
			display: block;
			z-index: 9;
		}
//	}
}