/**
 * Separator Shortcode
 * <hr class="separator" />  
 */

/*==========  $SEPARATORS  ==========*/

.separator {
	height: 1px;
	margin: $_175u 0;

	border: 0;
	border-bottom: 1px solid $borders;

	&.separator_color--dark {
		border-color: $dark;
	}

	&.separator_color--color {
		border-color: $accent;
	}
}






/*------------------------------------*\
    $STYLISH SEPARATORS
\*------------------------------------*/

.separator--flower, .separator--line-flower {
	display: block;
	height: auto;
	border: 0;

	font-size: 18px;
	letter-spacing: normal;
	line-height: 1;
	text-align: center;

	color: $accent;
}


// usage :: <span class="separator separator--line-flower">&#10043;<span class="arrows"></span></span>
.separator--line-flower {
	position: relative;
	margin: 36px 0;

	&:before, &:after {
		content: "";

		position: absolute;
		top: 50%;

		width: 45%;

		border: 1px solid white;

		@include transform(translateY(-50%));
	}

	&.separator_color--dark {
		&:before, &:after {
			border-color: $dark;
		}
	}

	&:before {
		left: 0;
	}

	&:after {
		right: 0;
	}

	.arrows {
		&:before, &:after {
			content: "";

			position: absolute;
			top: 50%;

			width: 0;
			height: 0;

			border: 5px solid transparent;

			@include transform(translateY(-50%));
		}

		&:before {
			left: 0;

			border-left: 7px solid white;
		}

		&:after {
			right: 0;

			border-right: 7px solid white;
		}
	}

	&.separator_color--dark .arrows {
		&:before {
			border-left: 7px solid $dark;
		}
		&:after {
			border-right: 7px solid $dark;
		}
	}
}

.separator--flower {
	margin: $_u 0;

	font-size: 20px;
	font-family: Serif;

	color: $light;

	&.separator_color--dark {
		color: $dark;
	}

	&.separator_color--color {
		color: $accent;
	}
}
