/*------------------------------------*\
               SLIDER ARROWS
\*------------------------------------*/

/**
 * On fade transition the arrows disappear
 */
.rsArrow {
	z-index: 10;

	.arrows--outside & {
		top: 0;
		height: 100%;

		.rsArrowIcn {
			top: 45%;
			position: relative;
		}
	}

	.single-post .arrows--outside & {
		height: 100%;
	}

	@include media-query(palm) {
		.billboard.arrows--outside & {
			height: 80%;
		}
	}

	// To ensure a larger clickable area
	// for the arrows
	@include media-query(lap-and-up) {
		.arrows--outside & {

			.rsArrowIcn {
				top: 50%;
				position: relative;
			}
		}
	}
}

.arrows--hover {
	cursor: none;

	.rsArrow {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background: transparent;
		transform: none;
		cursor: none;
	}

	.rsArrowRight {
		left: 50%;
	}

	.rsArrowIcn {
		margin-top: -40px;
		margin-left: -25px;
		opacity: 0;
	}

	.visible .rsArrowIcn {
		opacity: 1;
	}
}
