// /*----------------------------------------*\
//     $WORDPRESS CORE
// \*----------------------------------------*/

/**
 * Ensure that a caption won't expand more than the content
 */

p img {
	// margin-bottom: 0;
}

.alignnone {
	// @include rem(margin, $_u4 0 $_u);
}

.alignleft {
	float: left;
	// @include rem(margin, $_u4 $_u2 $_u2 0);
}

.aligncenter {
	display: block;
	// @include rem(margin, $_u4 auto $_u);
}

.alignright {
	float: right;
	// @include rem(margin, $_u4 0 $_u2 $_u2);
}

.wp-caption {
	@extend .cf;

	position: relative;

	width: auto !important;
	max-width: 100%;
	@include rem(margin-bottom, $_u);

	img {
		display: block;
	}
}

.wp-caption-text {
	position: absolute;
	left: 0;
	bottom: 0;

	margin-bottom: 0 !important;
	padding: $_u4 $_u2;

	font-size: 13px;
	text-align: center;

	color: white;
	background: rgba(0, 0, 0, .6);
}

.sticky {
	// @empty
}

.gallery-caption {
	// @empty
}

.gallery-item{
	position: relative;

	.wp-caption-text{
		left: 6px;
	}

	.gallery-icon a{
		display: block;
		padding-bottom: 0;
		border: 0 !important;
	}

	img{
		display: block;
	}
}

.bypostauthor {
	width: auto;
}

.small-link {
	@include font-size(14px);
	font-family: $base-font-family;
	color: $accent;
}

img[width], img[height] {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

// margin helpers
// top
.mt0 {
	@extend .flush--top;
}

.mt1 {
	@include rem(margin-top, 1rem !important);
}

.mt2 {
	@include rem(margin-top, 2rem !important);
}

.mt3 {
	@include rem(margin-top, 3rem !important);
}

.mt4 {
	@include rem(margin-top, 4rem !important);
}

// top negative
.mt-1 {
	@include rem(margin-top, -1rem !important);
}

.mt-2 {
	@include rem(margin-top, -2rem !important);
}

.mt-3 {
	@include rem(margin-top, -3rem !important);
}

.mt-4 {
	@include rem(margin-top, -4rem !important);
}

// bottom
.mb0 {
	@extend .flush--bottom;
}

.mb1 {
	@include rem(margin-bottom, 1rem !important);
}

.mb2 {
	@include rem(margin-bottom, 2rem !important);
}

.mb3 {
	@include rem(margin-bottom, 3rem !important);
}

.mb4 {
	@include rem(margin-bottom, 4rem !important);
}

// bottom negative
.mb-1 {
	@include rem(margin-bottom, -1rem !important);
}

.mb-2 {
	@include rem(margin-bottom, -2rem !important);
}

.mb-3 {
	@include rem(margin-bottom, -3rem !important);
}

.mb-4 {
	@include rem(margin-bottom, -4rem !important);
}

// padding helpers
// top
.pt0 {
	@extend .hard--top;
}

.pt1 {
	@include rem(padding-top, 1rem !important);
}

.pt2 {
	@include rem(padding-top, 2rem !important);
}

.pt3 {
	@include rem(padding-top, 3rem !important);
}

.pt4 {
	@include rem(padding-top, 4rem !important);
}

// bottom
.pb0 {
	@extend .hard--bottom;
}

.pb1 {
	@include rem(padding-bottom, 1rem !important);
}

.pb2 {
	@include rem(padding-bottom, 2rem !important);
}

.pb3 {
	@include rem(padding-bottom, 3rem !important);
}

.pb4 {
	@include rem(padding-bottom, 4rem !important);
}

// wordpress gallery
.gallery {
	@extend .cf;
	margin-left: -$_u !important;
	margin-bottom: -$_u !important;

	.gallery-item {
		margin-bottom: 0;

		border-left: $_u solid transparent;
		border-bottom: $_u solid transparent;
	}

	.gallery-icon {

		img {
			width: 100%;
			border: 0 !important;
		}
	}

	.gallery-caption {
		padding: 0;
		margin: 0;
		line-height: 1.5;
	}
}

// Hidden Classes
.home-hidden {
	.home & {
		display: none;
	}
}