/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

// Sidebars, etc
.redux-container {

	.redux-sidebar {
		float: left;
		overflow: hidden;
		padding-top: 126px;
		width: 16%;
	}

	&.fixed-sidebar{
		.redux-sidebar{
			position: fixed;
			left: 162px;
			width: 14%;
		}

		.redux-main{
			margin-left: 16%;
		}
	}

	.redux-main{
		width: 62%;
		float: left;
		margin-left: 0;
	}

	#redux-sticky {
		position: fixed;
		right: 0;
		bottom: 25px;
		z-index: 10;

		padding: 3em;

		width: 20%;
		float: none;

	}

	#redux-intro-text {
		top: 0;
		padding-top: 140px !important;
		margin-left: 16%;
	}

	.form-table {

		th {
			width: auto;
		}
	}

	.redux-action_bar{
		text-align: center;
	}

//	@media screen and (max-height: 950px){
//		.redux-sidebar, #redux-intro-text, .redux-main{
//			padding-top: 0 !important;
//		}
//	}
//
//	@media screen and (max-height: 925px){
//		.redux-sidebar .redux-group-menu{
//			li a{
//				padding: 10px 0 !important;
//			}
//
//			li.divide{
//				padding: 10px 0 !important;
//			}
//
//			li:last-child{
//				margin-top: 24px !important;
//			}
//		}
//	}
}
