/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

// Sidebars, etc
.redux-container {

	.redux-sidebar {
		position: absolute;
		left: 0;
		top: 0;

		padding-top: 112px;
		width: 16%;
		height: 100%;
	}

	.redux-main, #redux-intro-text {
		margin-left: 16%;
		width: 62%;
		float: left;
	}

	#redux-sticky {
		width: 22%;
		position: absolute;
		right: 0;
		bottom: 80px;
		float: none;
	}

	#redux-intro-text {
		top: 112px;
		margin-left: 16%;
	}

	.form-table {

		th {
			width: auto;
		}
	}

	.redux-action_bar{
		text-align: center;
	}
}
