$font-sizes: 14, 19, 24, 32, 42, 60 !default;

@each $fs in $font-sizes {
    .fs#{$fs} {
        @include baseline($fs * 1px);
    }
}

.alpha {
    @extend .fs60;
    font-weight: 100;
    color: $accent2;
    position: relative;
    margin-right: -6vw;
    padding-right: 6vw;

    &:after {
        content: "";
        display: block;
        width: 150%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $accent;

        z-index: 1;
    }
}

.beta {
    @extend .fs32;
    float: left;
    position: relative;
    padding-right: 0.5em;
    color: $accent;

    &:before {
        content: "";
        display: block;
        width: 9999em;
        height: 1px;
        background: $border;
        position: absolute;
        top: 50%;
        left: 100%;
    }

    // so we clear the next element as we don't have access to markup
    + * {
        clear: left;

        // there's a display none on empty elements
        // but we need this here
        &:empty {display: block;}
    }
}

h1, h2, h3, h4, h5, h6 {
    @extend %font--heading;
}

.redux-main {
    background: white;

    .redux-group-tab {

        > h1, > h2, > h3, > h4, > h5, > h6 {
            @extend .alpha;
            border: 0;
            float: none;

            &:before {
                display: none;
            }
        }
    }

    h1, h2, h3, h4, h5, h6 {
        @extend .beta;
    }
}