//@import "compass";
@import "vars",
		"resets",
		"tools",
		"layout",
		"icons";

@function rem($px) {
	@return $px;
}

.fs60 {
	font-size: rem(60px);
}

.fs42 {
	font-size: rem(42px);
}

.fs32 {
	font-size: rem(32px);
}

.fs24 {
	font-size: rem(24px);
}


.redux-container {
	@extend %font--body;
	position: relative;
	background: $accent;

	#redux-intro-text {
		background: white;
		border: 0;
		padding: 0;
		overflow: hidden;
	}

	.redux-main {
		background: white;
	}

	// TYPOGRAPHY
	h1, h2, h3, h4, h5, h6 {
		@extend %font--heading;
	}

	.alpha {
		@extend .fs60;
		font-weight: 100;
		color: $accent2;
	}

	h1 {
		@extend .alpha;
	}

	h2 {
		@extend .fs42;
	}

	h3 {
		@extend .fs32;
	}

	h4 {
		@extend .fs24;
	}

	.redux-group-tab {

		h3 {
			margin: 0;
			border: 0;
			float: left;
			position: relative;
			padding-right: 0.5em;
			color: $accent;

			&:before {
				content: "";
				display: block;
				width: 9999em;
				height: 1px;
				background: $border;
				position: absolute;
				top: 50%;
				left: 100%;
				// what the fuck is wrong with that font's line-height?
				margin-top: -0.05em;
			}

			// so we clear the next element as we don't have access to markup
			+ * {
				clear: left;

				// there's a display none on empty elements
				// but we need this here
				&:empty {display: block;}
			}
		}
	}

	// LAYOUT

	.redux-main + .clear {
		display: none;
	}

	#redux-footer-sticky {
		width: 22%;
		overflow: hidden;
		background: $accent;

		display: none;
	}

	#redux-footer {
		width: auto !important;
	}

	.clear{
		display: none;
	}

	.redux-sidebar .redux-group-menu li.active a{
		width: auto;
	}

	.expand_options{
		display: none;
	}

	#redux-header{
		display: none;
	}

	#info_bar {
		padding: 0;
		background: transparent;
		border: 0;
	}

	.button {
		height: auto;
		border: 1px solid $border;
		color: $border;
		background: white;
		margin: 0;
		box-shadow: none;
		border-radius: 0.5em;
		padding: 0.25em 1.5em;
	}

	.button2 {
		border: 1px solid #808080;
		background: #808080;
		color: white;
	}

	.redux-main {
		background: white;
		overflow: hidden;
		padding: 0;
		border: solid white;
		border-width: 0 6em;
	}

	// Sidebar menu

	.redux-sidebar{
		.redux-group-menu{
			li{
				padding-left: 22%;

				a{
					padding: 20px 0;

//					@include font-size(16px);
					font-size: 16px;
					text-transform: uppercase;
					text-align: left;
				}

				&.active a{
					color: white;
				}

				&.divide{
					border: 0;
					padding: 24px 0;
				}
			}
		}

		.redux-group-tab-link-a{
			position: static;
			
			span.group_title{
				padding: 0;
			}
			
			i{
				left: 0;
			}
		}
	}

	#redux-intro-text {
		padding: 6em 6em 4em;
		overflow: hidden;

		> h4 {
			@extend .alpha;
			position: relative;

			&:after {
				content: "";
				display: block;
				width: 150%;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 0;
				background: $accent;
			}
		}

		> p {
			opacity: 0.05;
		}
	}

} // .redux-container

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li {
	&:empty {
		display: none;
	}
}
