@charset "UTF-8";
//@import "compass";

@import "vars",
"resets",
"tools",
"layout",
"icons";

@function rem($px) {
	@return $px;
}

.fs60 {
	@include baseline(60px);
}

.fs42 {
	@include baseline(42px);
}

.fs32 {
	@include baseline(32px);
}

.fs24 {
	@include baseline(24px);
}

.fs19 {
	@include baseline(19px);
}

.fs14 {
	@include baseline(14px);
}

.alpha {
	@extend .fs60;
	font-weight: 100;
	color: $accent2;
	position: relative;
	margin-right: -6vw;
	padding-right: 6vw;

	&:after {
		content: "";
		display: block;
		width: 150%;
		height: 2px;
		position: absolute;
		bottom: 0;
		left: 0;
		background: $accent;
	}
}

.beta {
	@extend .fs32;
	float: left;
	position: relative;
	padding-right: 0.5em;
	color: $accent;

	&:before {
		content: "";
		display: block;
		width: 9999em;
		height: 1px;
		background: $border;
		position: absolute;
		top: 50%;
		left: 100%;
	}

	// so we clear the next element as we don't have access to markup
	+ * {
		clear: left;

		// there's a display none on empty elements
		// but we need this here
		&:empty {display: block;}
	}
}

.redux-container {
	@extend %font--body;
	position: relative;
	background: $accent;
	background-image: linear-gradient(135deg, $accent2, $accent);
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: none;

	.form-table {

		tr {
			margin-bottom: rem(48px);

			&[style="border-bottom:0;"] {
				margin-bottom: 0;
			}
		}

		.hide {
			display: none;
		}
	}

	// TYPOGRAPHY
	h1, h2, h3, h4, h5, h6 {
		@extend %font--heading;
	}

	#redux-intro-text {
		position: fixed;
		right: 0;

		width: 19%;
		border: 0;
		overflow: hidden;
		margin: 0;

		font-size: 1rem;

		color: white;
		background: none;
		box-shadow: none;
		padding: 3em;

		&, > *, > p {
			@extend %font--body;
			color: white;
			@extend .fs14;
		}
	}

	.redux-main {
		background: white;

		.redux-group-tab {

			> h1, > h2, > h3, > h4, > h5, > h6 {
				@extend .alpha;
				border: 0;
				float: none;

				&:before {
					display: none;
				}
			}
		}

		h1, h2, h3, h4, h5, h6 {
			@extend .beta;
		}
	}

	// LAYOUT

	.redux-main + .clear {
		display: none;
	}

	#redux-footer-sticky {
		width: 22%;
		overflow: hidden;
		background: $accent;

		display: none;
	}

	#redux-footer {
		width: auto !important;
	}

	.clear{
		display: none;
	}

	.redux-sidebar .redux-group-menu li.active a{
		width: auto;
	}

	.expand_options{
		display: none;
	}

	#redux-header{
		display: none;
	}

	#info_bar {
		padding: 0;
		background: transparent;
		border: 0;
	}

	.button, .button-primary, .button-secondary, .button.remove-image {
		height: auto;
		border: 1px solid $border;
		color: $border;
		background: white;
		margin: 0;
		box-shadow: none;
		border-radius: 0.5em;
		padding: 0.25em 1.5em;
		margin-right: 1.5em;

		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;

		&:hover {
			background: white;
			color: $light;
			border-color: $light;
			box-shadow: none;
		}
	}

	.button, .button-primary {
		border: 1px solid #808080;
		background: #808080;
		color: white;

		&:hover {
			border-color: $accent;
			background: $accent;
			color: white;
		}
	}

	.redux-main {
		background: white;
		overflow: hidden;
		border: solid white;
		// how 'bout dat biatch? // lol, so hardcore // much hate
		padding: 3vw 6vw 6vw;
		border: 0;

//		.description {
//			@extend .fs14;
//		}

		.text_sortable {

			> li {
				display: block;
				clear: both;

				input[type="checkbox"] {
					width: 30px;
				}
			}
		}
	}

	.redux-field-container {
		@extend .mbp0;
	}

	// Sidebar menu

	.redux-sidebar {

		.redux-group-menu {

			li {
				position: relative;

				padding-left: 22%;
				margin-bottom: 10px !important;
				display: block;

				&:after{
					content: "";
					position: absolute;
					left: 22%;
					right: 0;
					bottom: 0;

					display: block;
					height: 1px;

					background-color: white;
					background-blend-mode: overlay;
					opacity: 0.5;
				}


				a {
					padding: 20px 0;
					// make room for the "active" button indicator
					padding-right: 10%;

					border: 0;

					font-family: "Josefin Sans", serif;
					font-weight: 400;
					font-size: 16px;
					text-transform: uppercase;
					text-align: left;
				}

				&.active a {
					color: white;

					&:after{
						content: "";

						position: absolute;
						right: 7%;
						top: 48%;

						display: block;
						height: 12px;
						width: 12px;

						background: white;

						-webkit-transform: translateY(-50%);
						transform: translateY(50%);
						border-radius: 50%;
					}
				}

				&.divide {
					border: 0;
					padding: 24px 0;

					&:after{
						content: none;
					}
				}


				// help and support button
				&:last-child{
					position: absolute;
					bottom: 80px;
					left: 0;
					right: 0;

					&:after{
						content: none;
					}
				}
			} // li
		}

		.redux-group-tab-link-a{
			position: static;

			span.group_title{
				padding: 0;
			}

			i{
				top: 50%;
				left: 5%;

				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
	}

	// hide 'n seek
	.redux-group-tab[id="1_section_group"] table,
	.redux-group-tab[id="1_section_group"] div.redux-field-customizer_info {
		display: none !important;
	}

	@import "switch";

	.redux_field_th {
		@extend .fs19;
		color: $gray;
//		margin-bottom: 0;

		span {
			@extend .fs14;
			color: $light;
//			margin-bottom: 0;
		}
	}

	.upload_button_div {
		@extend .fs14;
	}

	tr {
		:last-child {
			margin-bottom: 0;
		}
	}

	#redux_save{
		padding: 16px 30px;
		padding-top: 22px;

		font-family: "Josefin Sans", serif;
		font-size: rem(19px);
		line-height: rem(19px);
		letter-spacing: .150em;
		text-transform: uppercase;

		border: 3px solid white;
		background: transparent;
		border-radius: 100px;
	}

	#floating-title{
		position: fixed;
		right: 0;
		top: 36px;

		width: 20%;
		padding: rem(36px);

		font-family: "Josefin Sans", serif;
		font-weight: 100;
		font-size: rem(120px);
		line-height: rem(120px);
		word-wrap: break-word;

		opacity: 0.2;
		background-blend-mode: overlay;
		color: white;
	}

	.redux-field-info {
		overflow: hidden;
	}

	.screenshot {
		display: block;
		width: 9.9em;
		height: 9.9em;
		border: 1px solid $border;
		border-collapse: separate;

		background-image:
			-moz-linear-gradient(45deg, #ddd 25%, transparent 25%,transparent 75%, #ddd 75%, #ddd 100%),
			-moz-linear-gradient(45deg, #ddd 25%, transparent 25%,transparent 75%, #ddd 75%, #ddd 100%);
		background-image:
			-webkit-linear-gradient(45deg, #ddd 25%, transparent 25%,transparent 75%, #ddd 75%, #ddd 100%),
			-webkit-linear-gradient(45deg, #ddd 25%, transparent 25%,transparent 75%, #ddd 75%, #ddd 100%);
		-moz-background-size: 1em 1em;
		background-size: 1em 1em;
		-webkit-background-size: 1em 1em;
		background-position: 0 0, 0.5em 0.5em;

		box-shadow: white 0 0 0 0.25em inset;

		> a {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			border: 0.25em solid transparent;

			img {
				display: inline-block;
				max-width: 100%;
			}
		}
	}

	.row--image {
		position: relative;

		> .screenshot {
			float: left;
			margin-right: 2em;
			margin-top: 0;
			cursor: pointer;
			position: relative;

			&:empty {
				background: white;

				&:before, &:after {
					content: "";
					position: absolute;
					top: 50%; left: 50%;
					background: $border;
					pointer-events: none;
				}

				&:before {
					width: 2px;
					margin-left: -1px;
					height: 2em;
					margin-top: -1em;
				}

				&:after {
					width: 2em;
					margin-left: -1em;
					height: 2px;
					margin-top: -1px;
				}
			}
		}

		.redux_field_th, td {
			margin-left: rem(168px);
		}

		&.image--small {

			.screenshot {
				width: 4.9em;
				height: 4.9em;
			}

			.redux_field_th, td {
				margin-left: rem(98px);
			}
		}

		td .screenshot {
			position: absolute;
			top: 0; left: 0;
			border-color: transparent;
			overflow: hidden;

			img {
				position: absolute;
				top: 50%; left: 50%;
				max-width: 100%;
				background: none;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}

		.redux_field_th {
			padding-right: 0;
		}

		&:after {
			content: " ";
			display: table;
			clear: both;
		}
	}

	input[type="text"],
	textarea {
		box-shadow: none;
		background: none;
		padding: 0.5em 1em;
		border: 2px solid $border;
	}

	.redux-field {
//		@extend .fs19;
	}

} // .redux-container


//very very important
#toplevel_page_rosa_options a:after{
	border-right-color: #47dad1 !important;
}


h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, th, td, tr {
	&:empty {
		display: none;
	}
}
