//@import "compass";
@import "layout";


// RESEEEEEET

.redux-container {

	// let's try to fill some stuff
	width: auto;
	margin: 0 -20px 0 -22px;
	border: 0;

	*, *:before, *:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
//		margin: 0;
//		padding: 0;

		// hard reset
		background: none;
		border: 0;
	}

	#redux-footer {
		background: none !important;
		border: 0;
		margin: 0;
		padding: 0;
	}

	.redux-info-field.redux-normal {
		background: none;
		color: inherit;
		margin: 0;
		padding: 0;
	}

	// that table :sigh:
	.form-table {
		&, thead, tbody, tfoot, tr, th, td {
			display: block;
		}
	}
}

@function rem($px) {
	@return $px;
}

// VARS

$border:    #d9d9d9;
$light:     #919191;
$gray:      #515151;
$dark:      #262626;
$accent:    #0095ea;

// FONTS

@import url('http://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans:400,600');

%font--body {
	font-family: "Open Sans", sans-serif;
}

%font--heading {
	font-family: "Josefin Sans", sans-serif;
	text-transform: uppercase;
}


.redux-container {
	@extend %font--body;

	h1, h2, h3, h4, h5, h6 {
		@extend %font--heading;
	}

	h1 {
		font-size: rem(60px);
	}

	h2 {
		font-size: rem(42px);
	}

	h3 {
		font-size: rem(32px);
	}

	h4 {
		font-size: rem(24px);
	}

	// LAYOUT

	.redux-sidebar {
		background: $accent;
		width: 16%;
	}

	.redux-main {
		width: 62%;
		margin-left: 0;
		float: left;
	}

	.redux-main + .clear {
		display: none;
	}

	#redux-footer-sticky {
		width: 22%;
		overflow: hidden;
		background: $accent;

		display: none;
	}

	#redux-footer {
		width: auto !important;
	}

	.clear{
		display: none;
	}
}

