# Ignore temporary files
# -----------------------------
tests/report
features/.test.path
tests/assets/mock-theme/.test.path

# Ignore Eclipse project files
# -----------------------------
.settings/
.project
.buildpath


# Ignore Netbeans project files
# -----------------------------
nbproject


# Ignore editor and OS files
# -----------------------------
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj


# Ignore Dreamweaver files
# -----------------------------
_notes
dwsync.xml


# Ignore Komodo files
# -----------------------------
*.komodoproject
.komodotools


# Ignore misc temporary files
# -----------------------------
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.sublime-project
*.sublime-workspace


# Ignore misc & vcs directories
# -----------------------------
.hg
.svn
.CVS
intermediate
publish
.idea


# Ignore build files
# -----------------------------
build/buildinfo.properties
build/config/buildinfo.properties
