/*------------------------------------*\
    $WOOCOMMERCE ARCHIVE
\*------------------------------------*/

@include media-query(lap-and-up){
	body.woocommerce ul.products{
		margin: 0 -1.5%;
	}
}

body.woocommerce ul.products li.product{
	position: relative;
	float: none;
	display: inline-block;
	vertical-align: top;

	text-align: center;

	@include media-query(palm){
		width: 100%;
	}

	@include media-query(lap-and-up){
		width: 30%;
		margin: 0 1.5%;
		margin-bottom: $_2u;
	}


	.product__title{
		margin: $_u2 0;
	}

	.product__button{
		@extend .btn;
		@extend .btn--text;

		position: absolute;
		bottom: 0;
		left: 50%;
		@include transform(translateX(-50%));

		background: white !important;
		color: $accent;

		@include opacity(0);
		@include transition(opacity .2s linear);
	}

	&:hover {
		.product__button{
			@include opacity(1);
		}

		.price{
			@include opacity(0);
		}
	}

	.price{
		margin-bottom: 0 !important;

		font-size: 19px !important;
		font-family: $heading-font-family;
		color: $dark !important;

		@include transition(opacity .2s linear);

		ins{
			color: $accent !important;
			border-bottom: 0;
		}

		del{
			font-size: 19px !important;
		}
	}

	hr{
		margin: $_u2 0;
	}

	.product__cat{
		padding: 0 $_u4;
		border: 0;

		font-size: 13px;
		font-weight: normal;
		text-transform: uppercase;
		color: $lightest;
	}

	.added_to_cart{
		@extend .btn;
		@extend .btn--text;

		position: absolute;
		top: 100%;
		left: 50%;
		@include transform(translateX(-50%));

		margin-top: $_u2;

		&:after{
			content: none;
		}
	}

	a.added_to_cart{
		color: $accent;

		&:hover{
			color: $accent !important;
			border-color: $accent !important;
		}
	}
}

body.woocommerce ul.products li.product a img, body.woocommerce-page ul.products li.product a img{
	@include box-shadow(none !important);
}

.shop-categories{
	margin-bottom: $_3u;

	a{
		margin: 0 $_u2;
		@include font-size(24px);
		font-weight: 500;

		&.active{
			color: $accent;
			border-bottom: 3px solid $accent;
		}
	}
}