/*------------------------------------*\
    $WOOCOMMERCE ARCHIVE
\*------------------------------------*/

.product{
	position: relative;
	text-align: center;

	.product__title{
		margin: $_u2 0;
	}

	.add_to_cart_button{
		position: absolute;
		bottom: 0;
		left: 50%;
		@include transform(translateX(-50%));

		background: white !important;

		@include opacity(0);
		@include transition(opacity .2s linear);
	}

	&:hover {
		.add_to_cart_button{
			@include opacity(1);
		}

		.price{
			@include opacity(0);
		}
	}

	.price{
		margin-bottom: 0 !important;

		font-size: 19px !important;
		font-family: $heading-font-family;
		color: $dark !important;

		@include transition(opacity .2s linear);

		ins{
			color: $accent !important;
			border-bottom: 0;
		}

		del{
			font-size: 19px !important;
		}
	}

	hr{
		margin: $_u2 0;
	}

	.product__cat{
		padding: 0 $_u4;
		border: 0;

		font-size: 13px;
		font-weight: normal;
		text-transform: uppercase;
		color: $lightest;
	}
}

body.woocommerce ul.products li.product a img, body.woocommerce-page ul.products li.product a img{
	@include box-shadow(none !important);
}

.shop-categories{
	margin-bottom: $_3u;

	a{
		&.active{
			color: $accent;
			border-bottom: 3px solid $accent;
		}
	}
}