/*------------------------------------*\
    $CART
\*------------------------------------*/

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .shipping_calculator{
	float: none !important;
	text-align: left;
	width: 100% !important;
}

td.actions input.button{
	line-height: 1.9 !important;
}

td.actions{
	padding: $_u2 $_u4 !important;
}

.woocommerce #content .quantity,
.woocommerce .quantity,
.woocommerce-page #content .quantity,
.woocommerce-page .quantity{
	margin-left: 0;
}

.woocommerce table.shop_table, .woocommerce-page table.shop_table{
	border-radius: 0;

	@include media-query(portable) {
		&.cart {
			/* Force table to not be like tables anymore */
			&, thead, tbody, th, td, tr {
				display: block;
			}

			/* Hide table headers (but not display: none; for accessibility) */
			thead tr {
				position: absolute;
				top: -9999px;
				left: -9999px;
			}

			tr {
				border: 1px solid #ccc;
			}

			td {
				/* Behave  like a "row" */
				border: none;
				border-bottom: 1px solid #eee;
				position: relative;
				margin-bottom: 0;
				text-align: center;
			}

			td:not(.product-thumbnail):not(.product-remove) {
				padding-left: 50%;
				text-align: left;
			}

			td.product-thumbnail {
				display: block;

				img {
					width: auto;
				}
			}

			td:before {
				content: attr(data-mobile-caption);

				/* Now like a table header */
				position: absolute;
				/* Top/left values mimic padding */
				top: 50%;
				left: 6px;
				transform: translateY(-50%);

				width: 45%;
				padding-right: 10px;

				font-weight: bold;
				white-space: nowrap;
				text-align: left;
			}
		}

		td.product-remove > * {
			width: 100%;
		}
	}
}

.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text {
	height: 38px;
	box-shadow: none;

	@include media-query(lap-and-up) {
		width: 120px;
	}
}

@include media-query(portable) {
	.woocommerce-page.woocommerce-cart table.cart td.actions {
		input.button,
		input.input-text {
			width: 100%;
			float: none;
		}

		input.input-text {
			margin-bottom: 5px;
		}

		.coupon {
			margin-bottom: 15px;
		}
	}
}

.shipping-calculator-button:after{
	content: none !important;
}

.product-thumbnail-link{
	color: $dark;
}

.wc-proceed-to-checkout {
	@include media-query(lap-and-up) {
		max-width: 300px;
		text-align: right;
		float: right;
	}

	.button {
		font-weight: bold !important;
	}

	@include media-query(portable) {
		a.button.alt {
			margin-left: 0;
		}
	}
}

.woocommerce-shipping-calculator {
	margin-top: 20px;
}

.shipping-calculator-form {
	margin-bottom: 20px;

	button[type=submit] {
		margin-top: 20px;
	}
}

.container .woocommerce .cart-collaterals {

	.cross-sells {
		width: 100%;
	}

}

@include media-query(palm) {

	.nav.nav--woocommerce {
		width: 100%;
		display: block;
	}

	.shop-menu-item {
		color: white;
		width: 100%;
	}

	.shop-menu-item__price {
		position: absolute;
		top: 7px;
		right: 20px;
	}

	.widget_shopping_cart_content {
	    width: 100%;
	    padding: 10px 20px;
	    background: rgba(255,255,255,0.1);
	    border-radius: 3px;

	    .sub-menu {
	    	display: block !important;
	    	margin-bottom: 0;
	    	min-width: 0;
	    }

		a.cart-icon-link {
			position: relative;
		    display: inline-block !important;
	    	padding-left: 0 !important;
		}
	}
}

@include media-query(portable) {
	.woocommerce-page #payment #place_order {
		margin-left: 0;
	}
}

#add_payment_method #payment div.payment_box:before,
.woocommerce-checkout #payment div.payment_box:before {
	top: -14px;
}

@media screen and (max-width: 400px) {
	#add_payment_method #payment .payment_method_paypal .about_paypal,
	.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
		float: none;
	}
}