.payment_method_stripe {
  .form-row-wide {
    display: block;
    width: 100%;
    margin-bottom: 0;
    .stripe-card-group {
      width: 100%;
    }
    .wc-stripe-elements-field {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
  @include media-query(palm) {
    .form-row-first[class][class] {
      width: 100%;
    }
    .form-row-last[class][class] {
      width: 100%;
    }
  }

  .wc-stripe-elements-field {
    width: 100%;
  }
}
