/*------------------------------------*\
              GENERAL STUFF
\*------------------------------------*/

// html {
//     color: $gray;
// }

// .show-on-ie8 {
//     display: none;
// }

// .lt-ie9 .show-on-ie8 {
//     display: block;
// }

// .container {
//     @extend .cf;
//     @extend .soft--sides;
//     max-width: 1096px;
//     margin: 0 auto;
// }

// .sidebar {

//     @include media-query(lap-and-up) {
//         @include rem(padding-left, $_2u);
//     }
// }

// .grid--thin {
//     @include rem(margin-left, -5px);

//     > .grid__item {
//         @include rem(padding-left, 5px);
//     }
// }

// /**
//  * Magnific popup
//  */
// button.mfp-arrow{
//   position: absolute;
//   top: 50%;
//   @include rem(height, 55px);
//   @include rem(width, 55px);
//   display: block;
//   border-bottom: 2px solid white;
//   outline: 0;

//   @include media-query(palm) {
//     @include rem(height, 25px);
//     @include rem(width, 25px);
//   }
// }

// button.mfp-arrow-left{
//   left: 35px;
//   @include transform(rotate(45deg));
//   border-left: 2px solid white;
// }

// button.mfp-arrow-right{
//   right: 35px;
//   @include transform(rotate(-45deg));  
//   border-right: 2px solid white;
// }

// .mfp-counter{
//     @include font-size(16px);
//     width: 100%;
//     left: 0;
//     text-align: center;
// }

// /*------------------------------------*\
//               SHAME
// \*------------------------------------*/

// img[width], img[height] {
//     max-width: 100%;
//     height: auto;
// }
