/*--------------------------------*\
               FOOTER
\*--------------------------------*/
.site-footer {
	position: relative;
}

// make columns take same amount of space
.flexbox--btn-top {
	position: relative;
	z-index: 100;
	margin-top: -30px;
	table-layout: fixed;
}

.btn--top_wrapper {
	width: 60px;
	text-align: center;
}

.btn--top_left, .btn--top_right {
	background: #121012;
}

.btn--top {
	width: 60px;
	height: 30px;
	position: relative;
}

.btn--top_overflow {
	width: 60px;
	height: 30px;
	position: relative;
	overflow: hidden;
}

.btn--top_contour {
	width: 220px;
	height: 220px;
	position: absolute;
	top: -120px;
	left: -80px;
	border: 100px solid #121012;
	border-radius: 50%;
}

.btn--top_text {
	display: block;
	position: absolute;
	top: -26px;
	left: 0;
	opacity: 0;
	width: 60px;
	height: 60px;
	padding-top: 20px;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-left: 2px;
	color: $dark;

	&:before {
		content: "";
		position: absolute;
		top: 12px;
		left: 50%;

		height: 8px;
		width: 8px;

		border-left: 2px solid $dark;
		border-top: 2px solid $dark;

		@include transform(translateX(-50%) rotate(45deg));
	}
}

.sidebar--footer {
	padding: $_u 0;

	@include media-query(lap-and-up) {
		padding: 1px 0 $_2u 0;
	}

	color: white;
	background-color: #121012;
}

.copyright-area {
	@extend .cf;

	padding: $_u2 0;

	font-size: 14px;
	color: $light;

	background-color: $dark;
}

@include media-query(lap-and-up){
	.footer-container{
		display: table;
		width: 100%;
	}

	.copyright-text {
		display: table-cell;
		text-align: left;
	}

	.navigation--footer {
		display: table-cell;
		text-align: right;
	}
}

.nav--footer {
	margin-bottom: 0;

	@include media-query(palm){
		margin: $_u2 0;
	}

	a {
		padding: $_u2;

		color: $light;

		&:after {
			content: "\2022";

			margin-left: $_u2;
		}
	}

	li:last-child a:after {
		content: none;
	}

	.menu-item-has-children:after{
		content: none;
	}
}

.footer-widget-area{
	@extend .cf;

	@include media-query(lap-and-up) {
		margin: 0 -$_u2;
	}

	.widget{
		float: left;

		margin-bottom: $_u2;
		padding: 0;
		border: $_u2 solid transparent;

		p{
			margin: 0;
		}
	}

	&.col-1 .widget{
		width: 100%;
	}

	&.col-2 .widget{
		width: 50%;
	}

	&.col-3 .widget{
		width: 33.3333%;
	}

	@include media-query(palm) {
		&.col-1, &.col-2, &.col-3{
			.widget{
				float: none;
				width: 100%;
			}
		}
	}
}