/*------------------------------------*\
    $LAYOUT GENERAL
\*------------------------------------*/
#page{
	height: 100%;

	@include media-query(lap-and-up){
		padding-top: $_3u;
	}

	.header--transparent &{
		padding-top: 0;
	}
}

.container--multipage, .container--single-page {
	padding-bottom: $_3u;
}

@include media-query(lap-and-up){
	.container--archive, .container--single {
		padding-top: 2*$_3u;
		padding-bottom: $_3u;
	}
}
