/*------------------------------------*\
    $VARS
\*------------------------------------*/
/*------------------------------------*\
    $FONTS
\*------------------------------------*/
@import url("http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400|Open+Sans:400,600");
.redux-container {
  font-family: "Open Sans", sans-serif; }

.redux-container h1, .redux-container h2, .redux-container h3, .redux-container h4, .redux-container h5, .redux-container h6 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase; }

/*------------------------------------*\
    $RESET
\*------------------------------------*/
.redux-container {
  width: auto;
  margin: 0 -20px 0 -22px;
  border: 0; }
  .redux-container *, .redux-container *:before, .redux-container *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    border: 0; }
  .redux-container #redux-footer {
    background: none !important;
    border: 0;
    margin: 0;
    padding: 0; }
  .redux-container .redux-info-field.redux-normal {
    background: none;
    color: inherit;
    margin: 0;
    padding: 0; }
  .redux-container h1, .redux-container h2, .redux-container h3, .redux-container h4, .redux-container h5, .redux-container h6, .redux-container p, .redux-container ul, .redux-container ol, .redux-container dl, .redux-container li {
    margin: 0;
    line-height: 1.5; }
  .redux-container .form-table, .redux-container .form-table thead, .redux-container .form-table tbody, .redux-container .form-table tfoot, .redux-container .form-table tr, .redux-container .form-table th, .redux-container .form-table td {
    display: block;
    border: 0;
    padding: 0;
    margin: 0; }
  .redux-container .redux-sidebar .redux-group-menu li a {
    background: transparent;
    color: white;
    opacity: 1; }

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
.redux-container .redux-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 16%;
  height: 100%; }
.redux-container .redux-main, .redux-container #redux-intro-text {
  margin-left: 16%;
  width: 62%;
  float: left; }
.redux-container #redux-sticky {
  width: 22%;
  position: absolute;
  right: 0;
  bottom: 0;
  float: none; }
.redux-container #redux-intro-text {
  margin-left: 16%; }
.redux-container .form-table th {
  width: auto; }

.fs60, .redux-container .alpha, .redux-container h1, .redux-container #redux-intro-text > h4 {
  font-size: 60px; }

.fs42, .redux-container h2 {
  font-size: 42px; }

.fs32, .redux-container h3 {
  font-size: 32px; }

.fs24, .redux-container h4 {
  font-size: 24px; }

.redux-container {
  position: relative;
  background: #0095ea; }
  .redux-container #redux-intro-text {
    background: white;
    border: 0;
    padding: 0;
    overflow: hidden; }
  .redux-container .redux-main {
    background: white; }
  .redux-container .alpha, .redux-container h1, .redux-container #redux-intro-text > h4 {
    font-weight: 100;
    color: #4cebcc; }
  .redux-container .redux-group-tab h3 {
    margin: 0;
    border: 0;
    float: left;
    position: relative;
    padding-right: 0.5em;
    color: #0095ea; }
    .redux-container .redux-group-tab h3:before {
      content: "";
      display: block;
      width: 9999em;
      height: 1px;
      background: #d9d9d9;
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -0.05em; }
    .redux-container .redux-group-tab h3 + * {
      clear: left; }
      .redux-container .redux-group-tab h3 + *:empty {
        display: block; }
  .redux-container .redux-main + .clear {
    display: none; }
  .redux-container #redux-footer-sticky {
    width: 22%;
    overflow: hidden;
    background: #0095ea;
    display: none; }
  .redux-container #redux-footer {
    width: auto !important; }
  .redux-container .clear {
    display: none; }
  .redux-container .redux-sidebar .redux-group-menu li.active a {
    width: auto; }
  .redux-container .expand_options {
    display: none; }
  .redux-container #redux-header {
    display: none; }
  .redux-container #info_bar {
    padding: 0;
    background: transparent;
    border: 0; }
  .redux-container .button {
    height: auto;
    border: 1px solid #d9d9d9;
    color: #d9d9d9;
    background: white;
    margin: 0;
    box-shadow: none;
    border-radius: 0.5em;
    padding: 0.25em 1.5em; }
  .redux-container .button2 {
    border: 1px solid #808080;
    background: #808080;
    color: white; }
  .redux-container .redux-main {
    background: white;
    overflow: hidden;
    padding: 0;
    border: solid white;
    border-width: 0 6em; }
  .redux-container #redux-intro-text {
    padding: 6em 6em 4em;
    overflow: hidden; }
    .redux-container #redux-intro-text > h4 {
      position: relative; }
      .redux-container #redux-intro-text > h4:after {
        content: "";
        display: block;
        width: 150%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #0095ea; }
    .redux-container #redux-intro-text > p {
      opacity: 0.05; }

h1:empty, h2:empty, h3:empty, h4:empty, h5:empty, h6:empty, p:empty, ul:empty, ol:empty, dl:empty, li:empty {
  display: none; }

/*# sourceMappingURL=admin-panel.css.map */
