/*------------------------------------------------*\
               $SOCIAL ICONS WIDGET
\*------------------------------------------------*/

.widget_wpgrade_social_links {
	.site-footer & {
		a {
			float: none;
			position:relative;
			top: -6px;
		}

		.pixcode--icon {
			color: white;
			font-size: 24px;

			&:hover {
				color: $accent;
			}

			&:before {
				margin-left:12px;
				margin-right: 12px;
			}
		}
	}
}