.widget_wpgrade_twitter_widget {
    @include rem(margin-bottom, $_u);

    .tweet {
        @include rem(padding-right, $_6u);
    }

    .tweet__meta-date::before {
        content: " - ";
    }

    .tweet__block {
        @include rem(margin-bottom, $_u);
    }

    &.widget--footer {
        
        .tweet__author {
            color: white;
        }

        .tweet__content {
            color: white;
        } 
    }

    .widget__title {

        em {
            color: white;
        }

        h2:before, h3:before {
            content: "\e8f1";
            font-family: "entypo";
            font-style: normal;
            font-weight: normal;
            speak: none;
            display: inline-block;
            text-decoration: inherit;
            @include font-size(21px);
            // width: 1em;
            margin-right: .5em;
            text-align: center;
            font-variant: normal;
            text-transform: none;
            line-height: 1em;
            margin-left: .2em;
        }
    }

    .widget--footer__title {

        h3:before {
            color: $accent;
        }
    }
}