/*------------------------------------*\
    404 Page
\*------------------------------------*/
@charset "UTF-8";
@import "compass";

/*body*/
.error404 {
	background-repeat: no-repeat;
	background-position: center center;
	@include background-size(cover);
	background-color: black;

	.overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}

	.overlay--shadow {
		background: #1a1919;
		opacity: 0.6;
	}

	.container {
		background: transparent;
	}

	.content {
		border: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.content-404 {
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%, -50%);
		max-width: 440px;
		padding: 20px;
		color: white;
		text-align: center;
		z-index: 10;
	}

	h1 {
		display: inline-block;
		letter-spacing: auto;
		color: white;
	}

	.description {
		position: relative;
		z-index: 10;

		&.second {
			position: fixed;
			bottom: 58px;
			left: 0;
			width: 100%;
			color: white;
			text-align: center;
			font-size: 14px;
		}
	}

	.site-header, .site-footer, .fixed-bar {
		display: none;
	}
}