/*------------------------------------*\
    $ARCHIVE
\*------------------------------------*/
.archive { position: relative; }

.archive__title{ margin-top: 0; }

.article--archive{
  @extend .cf;

  margin-bottom: $_3u;
  text-align: center;

  @include media-query(lap-and-up) {
    display: table;
    width: 100%;

    .article__featured-image, .article__body{
      display: table-cell;
      vertical-align: middle;
    }

    .article__featured-image{ width:58.333%; }
    .article__body{
      width: 41.666%;
    }

    &.no-thumbnail{
      display: block;

      .article__body{
        width: 100%;
        display: block;
      }
    }
  }

  h2.article__title{ margin: 0; }

  .article__content{
    display: block;
    margin-bottom: $_u;
  }

  .article__body{ padding: 0 $_2u; }

  .article__featured-image img{
    display: block;
    width: 100%;
    height: auto;
  }
}

//.article--archive:nth-child(2n){
//  .article__featured-image{
//    float: left;
//    margin-right: $_2u;
//  }
//
//}
//
//.article--archive:nth-child(2n+1){
//  .article__featured-image{
//    float: right;
//    margin-left: $_2u;
//  }
//}

.article__date{
  margin-bottom: 0;

  .date__box{
    padding-left: $_u2;

    @include font-size(13px);
    text-transform: uppercase;
    color: $gray;

    &:after{
      content: "\2022";
      margin-left: $_u2;

      color: $lightest;
    }
  }

  .date__box:last-child:after{ content: none; }
}

.read-more-button{ @extend .btn--text; }

.archive-filter{
  position: absolute;
  top: 0;
  right: 0;
}