/*------------------------------------*\
    $SHORTCODES
\*------------------------------------*/
/**
 * Theme specific shortcodes
 */
@import "grid";

.pixcode--heading {
	overflow: hidden;
	text-align: center;
	display: inline;
}

.pixcode--tabs{
	overflow: hidden;
}