/*-----------------------------------------------*\
       THEME OPTIONS STYLING THEME SPECIFIC
       --------------- ROSA ---------------
\*-----------------------------------------------*/
.redux-group-tab[data-rel="3"] table {
	tr {
		width: 45%;
		float: left;
		margin-right: 5%;
	}

	span.description {
		padding-right: 0;
	}

	input {
		width: 100% !important;
	}
}


/*-----------------------------------------------*\
    THEME OPTIONS STYLING THEME SPECIFIC - HEAP
\*-----------------------------------------------*/

.redux-main {
	color:red;
}
/*
 * Left Checkbox Extender
 */
%checkbox {
	tr {
		width: 45%;
		margin-right: 5%;

		th {
			width: 87%;
			float: right;
		}

		td {
			width: 10%;
			float: left;
			margin-top: 39px;
		}
	}
}

/*
 * Style Tab
 */
#info-live-customizer-button + table {
	display: none;
}

/*
 * Branding
 */
#info-branding-header-90821 + table {
	tr {
		width: 33%;
		float: left;
		padding-right: 30px;

		.description {
			padding-right: 0;
		}

		&:nth-child(-n+4) {
			width: 50%;
		}

		&:nth-child(1) {
			//Title
			width: 100%;
		}
		&:nth-child(2) {
			//Main Logo
			// width:100%;
		}
		&:nth-child(3) {
			//Retina Switcher
			padding-right: 0;
			.description {
				padding-right: 130px;
			}
			.switch-options {
				top: -52px;
			}
		}
		&:nth-child(4) {
			//Retina Image
			th {
				display: none;
			}
		}
		&:nth-child(5) {
			//Fav Icon
			clear: left;
		}

		&:nth-child(5), &:nth-child(6), &:nth-child(7) {
			//Last 3
			margin-top: 40px;
			border-top: 1px solid #dfdfdf;
		}

	}
}

/*
 * Header
 */
#info-left-area-218293203 + table {
	@extend %checkbox;
	tr th {
		width: 94%;
	}
	tr td {
		width: 5%;
	}
	tr:nth-child(1) {

	}
}

#info-right-area-218293204 + table {
	tr:nth-child(2), tr:nth-child(4), tr:nth-child(5) {
		th {
			width: 94%;
		}
		td {
			width: 5%;
		}

		th {
			// width:87%;
			float: right;
		}

		td {
			// width:10%;
			float: left;
			margin-top: 39px;
		}
	}
}

/*
 * Blog - Archive
 */
#3_section_group table {
	tr {
		width: 45%;
		float: left;
		margin-right: 5%;

		th {
			width: 87%;
			float: right;
		}

		td {
			width: 10%;
			float: left;
			margin-top: 39px;
		}
	}
}
#info-masonry_columns-218293204 {
	margin-bottom: -44px;
}

#info-masonry_columns-218293204 + table {
	tr:nth-child(1) {
		display: none;
	}
	tr {
		width: 29%;
		float: left;
		margin-right: 4%;

		&:nth-child(4) {
			width: 33%;
			margin-right: 0;
		}
	}
	.select2-container {
		width: 100% !important;
	}
}

// Posts Meta Data

#info-posts_meta_data-218293204 + table {
	tr:nth-child(1) {
		width: 100% !important;
	}
	tr:nth-child(-n+3) {
		width: 45%;
		float: left;
		margin-right: 5%;

		th {
			width: 87%;
			float: right;
		}

		td {
			width: 10%;
			float: left;
			margin-top: 39px;
		}
	}

	tr:nth-child(2), tr:nth-child(3) {
		width: 45%;
		float: left;
		margin-right: 5%;
	}

	.field-desc {
		font-size: 12px;
		color: #9d9d9d;
	}

	th .description {
		padding-right: 0 !important;
	}

	input {
		width: 100% !important;
	}

	input[type='checkbox'] {
		width: 24px !important;
	}
}

// Navigation Style
#info-navigation_style-21829384 + table {
	tr:nth-child(1) {
		width: 100% !important;
	}
	tr:nth-child(3), tr:nth-child(4) {
		float: left;

		th .description {
			padding-right: 0 !important;
		}
	}

	tr:nth-child(3) {
		width: 45%;
		margin-right: 5%;

		th {
			width: 87%;
			float: right;
		}

		td {
			width: 10%;
			float: left;
			margin-top: 39px;
		}
	}

	tr:nth-child(4) {
		width: 50%;
		margin-right: 0;

		th {
			margin-top: 18px;
		}
	}

	.field-desc {
		font-size: 12px;
		color: #9d9d9d;
	}

	input {
		width: 100% !important;
	}

	input[type='checkbox'] {
		width: 24px !important;
	}
}

